/* 1072 px */
@media (max-width: 67em) {
  .recipe-header {
    padding: 10.8rem 0 3.6rem;
  }
  .recipe-overview {
    padding: 6.4rem 0;
  }
  .recipe-intro-text-box,
  .recipe-user-research-text-box {
    padding: 4.8rem;
  }
  .persona-box {
    margin: 6.4rem;
  }
  .grid {
    gap: 4.8rem;
  }
  .low-fi-box-paper {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .img-paper {
    grid-column: span 1;
  }
  .usability-study-box {
    column-gap: 4.8rem;
  }
}

/* 53*16= 848px*/
@media (max-width: 53em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    gap: 4rem;
  }
  .recipe-intro-text-box {
    gap: 4rem;
  }
  .persona-box {
    margin-bottom: 2.4rem;
  }
  .persona {
    padding: 4.8rem 0;
  }
  .user-journey-map-box {
    grid-template-columns: 1fr 4fr;
    gap: 2.4rem;
    margin: 4rem;
  }
  .sitemap-box {
    padding: 4rem 0;
  }
  .low-fi-box-paper,
  .low-fi-box-01 {
    margin: 4.8rem 0;
  }
  .prototype-box {
    padding: 4rem 0 6.4rem;
  }
  .usability-study-box {
    padding: 4rem 0;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 3.6rem;
  }
  .audit-logo {
    height: 2.4rem;
  }
  .mockups {
    padding-top: 4rem;
  }
  .mockup-box {
    padding: 4rem 0;
  }
  .hi-fi-prototype {
    padding: 6.4rem 0;
  }
  .hi-fi-information-box {
    padding: 4rem 0;
  }
  .visual-design {
    padding: 4rem 0 6.4rem;
  }
  .visual-design-box {
    padding: 4rem;
  }
  .consideration,
  .learned-text {
    padding: 4rem 4rem 6.4rem;
  }
  .img-paper {
    padding: 2rem;
  }
}

/* 674px */
@media (max-width: 42em) {
  .recipe-header {
    background-image: linear-gradient(
        247.94deg,
        rgba(239, 99, 99, 0.5) 9.1%,
        rgba(237, 167, 62, 0.5) 74.98%
      ),
      url(/img/Practise-2/background.png);
    transition: all 0.3s;
  }
  .recipe-intro-text-box,
  .low-fi-box-paper {
    grid-template-columns: 1fr;
  }
  .recipe-intro-text-box,
  .recipe-user-research-text-box {
    padding: 2.4rem;
  }
  .persona-box {
    margin: 2.4rem 0;
  }
  .persona {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    padding: 0;
    margin: 4rem 0;
  }

  .recipe-persona,
  .img-sitemap,
  .usability-list {
    grid-column: span 1;
  }
  .user-journey-map-box {
    margin: 2.4rem 0;
  }
  .sitemap-box,
  .prototype-box {
    grid-template-columns: 1fr;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .usability-study-box {
    grid-template-columns: 1fr;
    gap: 3.6rem;
  }
  .consideration {
    padding-left: 0;
    padding-right: 0;
  }
}

/* 448 28 */
@media (max-width: 28em) {
  html {
    font-size: 50%;
  }
  .container {
    padding: 0 2rem;
  }
  .heading-secondary {
    font-size: 2.8rem;
  }
  .grid {
    gap: 3.2rem;
  }

  .recipe-intro-text-box {
    padding: 2.4rem 0;
  }
  .recipe-user-research-text-box,
  .pain-points,
  .sitemap {
    padding: 4rem 0;
  }
  .persona-box {
    margin: 2.4rem 0;
  }
  .user-journey-map {
    padding-top: 0;
  }
  .user-journey-map-box,
  .low-fi-box-01 {
    grid-template-columns: 1fr;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
  }
  .audit-logo {
    flex-wrap: wrap;
    gap: 2.4rem;
    margin-bottom: 3.2rem;
    height: auto;
  }
  .audit-logo img {
    height: 2.4rem;
  }
  .pain-points-text li {
    margin-left: 2rem;
  }

  .low-fi-box-02 {
    grid-template-columns: 4fr 1fr;
    gap: 1.2rem;
  }
  .grow-row {
    grid-column: span 2;
  }
  .img-wireframe-1 {
    grid-column: span 1;
  }
  .low-fi-box-03 {
    margin: 0 0 6.4rem;
  }
  .usability-lists,
  .consideration {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
    row-gap: 3.2rem;
  }
  .hi-fi-information-box {
    grid-template-columns: 1fr;
    gap: 3.6rem;
    padding-bottom: 0;
  }
  .hi-fi-information-box img {
    width: 80%;
  }
  .hi-fi-information-box .logo-img {
    width: 50%;
    height: auto;
  }
  .view-website .featured-font {
    display: none;
  }
  .hi-fi-prototype,
  .visual-design {
    padding: 4rem 0;
  }
  .view-text {
    padding-top: 2.4rem;
  }
  .visual-design-box {
    padding: 1rem;
  }
  .learned-text {
    padding: 4rem 0 4rem 4rem;
  }
  .final-information {
    padding: 4rem 0;
  }
}
