/* 1072 px */
@media (max-width: 67em) {
  .section-overview,
  .section-user-research,
  .section-wireframe,
  .section-hifi,
  .section-responsive {
    padding: 6.4rem 0;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 4.8rem;
  }
  .img-usermap {
    width: 100%;
  }
  .accessibility-content {
    padding: 2.4rem 0 3.2rem;
  }
  .heading-overview {
    margin-bottom: 3.2rem;
  }
  .learn-part {
    padding: 2.4rem 0;
  }
}

/* 53*16= 848px*/
@media (max-width: 53em) {
  .wireframe-context {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
    row-gap: 2.4rem;
  }
  .header-text-box {
    grid-template-columns: 3fr 1fr;
  }
  .wireframe-img,
  .wireframe-1,
  .wireframe-2,
  .wireframe-3,
  .wireframe-4 {
    grid-column: span 1;
    width: 100%;
  }
  .wireframe-link,
  .wireframe-text,
  .wireframe-5 {
    grid-column: 1/-1;
  }
  .usability-grid {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }
  .hifi-content {
    column-gap: 0;
  }
  .accessibility-content,
  .sitemap-part {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
  .logo-part {
    gap: 2.4rem;
  }
}

/* 674px */
@media (max-width: 42em) {
  .section-overview,
  .section-user-research,
  .section-wireframe,
  .section-hifi,
  .section-responsive {
    padding: 3.2rem 0;
  }
  .container {
    padding: 0 2.4rem;
  }
  .header-text-box {
    grid-template-columns: 4fr 1fr;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .heading-primary {
    font-size: 3.2rem;
  }
  .heading-secondary {
    font-size: 2.8rem;
  }
  .heading-tertiary {
    font-size: 2rem;
  }
  .nutrition-header {
    border-bottom-right-radius: 3.6rem;
  }
  .header-text .heading-tertiary {
    margin-bottom: 2.4rem;
  }
  .overview-parts {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
    margin-top: 4.8rem;
  }
  .title {
    margin-bottom: 2.4rem;
  }
  .usermap-part {
    margin: 3.6rem 0;
    grid-template-columns: 1fr;
    row-gap: 0;
  }
  .info-title {
    margin: 2.4rem 0 1.2rem;
  }
  .user-text {
    padding: 1.6rem 0;
  }
  .audit-part {
    margin-top: 4.8rem;
  }
  .logo-part {
    gap: 1.2rem;
  }
  .logo-competitive {
    height: 2.4rem;
  }
  .ideation-info,
  .wireframe-context,
  .usability-list {
    grid-template-columns: 1fr;
  }
  .usability-list {
    row-gap: 3.6rem;
  }
}
