* {
  font-family: "Avenir Next", "Inter", sans-serif;
}

.recipe-header {
  background-image: url(“../../img/Practise-2/background.jpg”);
  background-size: cover;
  background-position: center;
  padding: 12rem 0 6.4rem;
}
.recipe-title {
  color: #fff;
  margin-bottom: 6.4rem;
}
.header-decoration-text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.header-decoration-text span {
  font-weight: 700;
}
/* recipe-overview */
.recipe-overview {
  padding: 9.6rem 0;
}
.recipe-intro-title {
  color: #ef6363;
  text-transform: uppercase;
}

.recipe-intro-text-box {
  padding: 6.4rem 6.4rem 0 6.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}
.recipe-intro-text {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
/* user research */
.recipe-user-research-text-box {
  padding: 6.4rem;
}
.pain-points {
  padding: 6.4rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.pain-points-text li {
  list-style: circle;
  margin-left: 6.4rem;
}
.persona-text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.persona {
  padding: 3.6rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 6.4rem;
}
.recipe-persona {
  grid-column: 2/-1;
}

/* user journey map */
.user-journey-map {
  padding-top: 2.8rem;
}
.user-journey-map-box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 6.4rem;
  margin: 6.4rem;
}

/* compititive audit */
.competitive-audit {
  padding: 3.2rem 0;
}
.audit-logo {
  display: flex;
  justify-content: space-around;
  height: 4.8rem;
  margin: 4.8rem 0;
}
/* sitemap */
.sitemap {
  padding: 6.4rem 0;
}
.sitemap-box {
  padding: 6.4rem;
}
.img-sitemap {
  grid-column: 2/-1;
}

.img-paper-wireframe {
  grid-column: span 3;
  padding: 4.8rem;
  background-color: #ededed;
}
.low-fi-box-01 {
  margin: 6.4rem;
  row-gap: 3.6rem;
}
.low-fi-box-03 {
  margin: 3.6rem 6.4rem 9.6rem;
}
.grid-row {
  grid-column: span 4;
}
.img-wireframe-1 {
  grid-column: span 3;
}
/* low-fi prototype */
.prototype-box {
  padding: 4.8rem 6.4rem 9.6rem;
}
/* low-fi prototype */
.prototype-text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  flex-shrink: 0;
}
.link-low-fi:link,
.link-low-fi:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ef6363;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.link-low-fi:hover,
.link-low-fi:active {
  color: #d75959;
  border-bottom: 1px solid currentColor;
}
/* usability study */
.usability-study-box {
  padding: 6.4rem 6.4rem 0;
  display: grid;
  grid-template-columns: 4fr 7fr;
  column-gap: 6.4rem;
  align-items: center;
}
.usability-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
}
.usability-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}
.number {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #ef6363;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
.usability-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #212529;
  margin: 2.4rem 0 1.6rem 0;
}
/* mockup */
.mockups {
  padding-top: 6.4rem;
}
.mockup-box {
  padding: 6.4rem;
}
/* hi-fi */
.hi-fi-prototype {
  padding: 9.6rem 0 0;
}
.hi-fi-information-box {
  padding: 6.4rem;
}

.logo-img {
  height: 3.2rem;
  margin-bottom: 2.4rem;
}
.view-text {
  display: flex;
  gap: 2.4rem;
  padding-top: 4.8rem;
}
.text-red:link,
.text-red:visited {
  color: #ef6363;
  transition: all 0.3s;
}
.text-red:hover,
.text-red:active {
  color: #d75959;
}
/* visual design */
.visual-design {
  padding: 9.6rem 0;
}
.visual-design-box {
  padding: 6.4rem;
  background-color: #e5f3da;
}

.final-information {
  padding-bottom: 9.6rem;
}
.consideration {
  padding: 6.4rem 0;
}
.consideration-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
/* what i learned */
.learned-text {
  padding: 6.4rem;
  line-height: 1.8;
}
.learned-text-list {
  position: relative;
}
.learned-text-list::before {
  content: "";
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background-color: #ef6363;

  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-2.8rem, 50%);
}
