/* 1296px */
@media (max-width: 81em) {
  .main-practise-part {
    padding: 6.4rem 3.2rem;
  }
  .second-part {
    grid-template-columns: 1fr;
  }
}
/* 992px */
@media (max-width: 62em) {
  .first-practise,
  .second-practise {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
  .second-part {
    grid-template-columns: 1fr;
    row-gap: 9.6rem;
  }
  .first-practise-text,
  .second-practise {
    gap: 1.2rem;
  }
  .second-practise-title .number {
    margin-bottom: 2.4rem;
  }
}
/* 42*16 = 672 */
@media (max-width: 42em) {
  .header-container {
    padding: 0.4rem 2.4rem;
  }
  .container {
    padding: 0 2.4rem;
  }
  .logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-box .img {
    display: block;
    width: 4.8rem;
    height: 4.8rem;
  }
}
